.chart-list{
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  .drop-btn{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background: #FBFCFF;
    margin: 0px 10px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.10);
    transform: rotate(90deg);
    display: inline-block;
    text-align: center;
    &::before{
      color: #4284f5;
    }
  }
  .open-active{
    transform: rotate(-90deg);
  }
  .current-btn{
    color: #a4a4a4;
    width: 30px;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
    display: inline-block;
  }
  .left{
    transform: rotate(-180deg);
  }
  .right{
    margin-right: 10px;
  }
  .list{
    flex: 1;
    width: 0;
    height: 100%;
    display: flex;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  
    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  .icon-active{
    color: #4284f5;
    cursor: pointer;
    pointer-events: auto;
  }
}