.list{
  display: flex;
  align-items: center;
  .icon-db_listBar{
    width: 80px;
    color: #424242;
    font-size: 14px;
    cursor: pointer;
    &::before{
      color: #a4a4a4;
      font-size: 16px;
      margin-right: 5px;
      display: inline-block;
      transform: rotate(90deg);
    }
  }
  .current-item {
    flex: 1;
    width: 0;
    height: 60px;
  }
  .handle-item{
    width: 80px;
  }
  .handle{
    width: 160px;
  }
  .dashboard-handle{
    width: 210px;
  }
}