.scroll-item{
  display: flex;
  font-size: 14px;
  cursor: pointer;
  color: #424242;
  line-height: 32px;
  border-bottom: 1px solid #DEDEDE;
  margin: 0 10px;
  .num {
    width: 30px;
  }
  .title {
    flex: 1;
    margin-right: 20px;
    @include ellipsis;
  }
  .type{
    font-size: 12px;
    font-weight: 200;
    width: 60px;
    color: #a4a4a4!important;
  }
  &:nth-last-child(1) {
    border: none;
  }
}
.scroll-active{
  color: #F59E28;
}