.item-panel{
  background-color: white;
  flex:1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  .item-left{
    width: 72px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 8px;
  }
  .icon-db_arrow{
    display: inline-block;
    width: 32px;
    transform: rotate(90deg);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .open-active{
    transform: rotate(-90deg);
  }
  .item-logo{
    width: 60px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    .logo{
      opacity: 0.1;
      font-size: 26px;
    }
  }
}
.open-right{
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0 24px 56px 0 rgba(151, 120, 120, 0.1), 0 4px 14px 0 rgba(0,0,0,0.10);
}