*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.dc-dialog-box {
    min-width: 38.5em;
    padding: 1.2em;
    line-height: 1.4;
    .name {
      font-weight: bold;
      font-size: 14px;
      padding: 20px 0 14px;
      color: #424242;
    }
    .title {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 16px;
        color: #424242;
    }
    .dc-dialog-header {
        display: flex;
        justify-content: space-between;

        .icon-db_plus {
            transform: rotate(-45deg);
            cursor: pointer;
        }
    }

    .dc-dialog-body {}

    .dc-dialog-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .8em 0;

        &>div {
            width: 7.5em;
            cursor: pointer;
            text-align: center;
        }

        .sure-btn {
            font-size: 16px;
            color: #4284F5;
            font-weight: bold;
            ;
        }

        .cancel-btn {
            font-size: 16px;
            color: #A4A4A4;
        }
    }

    .s-icon {
        width: 1em;
        height:1em;
        border-radius: 50%;
        background-color: #fff;
        margin-right: .5em;
        cursor: pointer;
    }
    
    .s-icon.active {
        position: relative;
        background-color: #4284f5;
    }
    
    .s-icon.active::before {
        position: absolute;
        content: " ";
        width: .43em;
        height: .43em;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

