
// .iconfont{
//     font-size: 20px;
// }
@mixin iconVar {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    top: 4px;
    position: relative;
  }
.fill {
    @include iconVar;
    background-color: black;
  }
  .iconfont_90deg {
    transform: rotate(90deg);
  }
  .iconfont_45deg {
    transform: rotate(45deg);
  }
  .iconfont_135deg {
    transform: rotate(135deg);
  }
  .empty {
    @include iconVar;
    clear: both;
  }

  @mixin verLine {
    height: 120%;
    width: 0px;
    border-left: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: -2px;
    &:nth-child(1) {
      left: 2px;
    }
    &:nth-child(2) {
      left: 4px;
    }
  }
.icon-ver-fill {
    @include iconVar;
    border: 0px solid black;
    overflow: hidden;

    .ver-line {
        @include verLine;
    }
}

@mixin horLine {
    width: 100%;
    height: 0px;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
}

.icon-hor-fill {
    @include iconVar;
    border: none;
    overflow: hidden;

    .hor-line {
        @include horLine;
    }
}

@mixin leftLine {
    width: 180%;
    height: 0px;
    left: -4px;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    transform: rotate(135deg);
}

.icon-left-fill {
    @include iconVar;
    overflow: hidden;
    border: none;

    .left-line {
        @include leftLine;
    }
}

@mixin rightLine {
    width: 180%;
    height: 0px;
    left: -4px;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
}

.icon-right-fill {
    @include iconVar;
    overflow: hidden;
    border: none;

    .right-line {
        @include rightLine;
    }
}

.icon-center-fill {
    @include iconVar;
    overflow: hidden;
    border: none;

    .ver-line {
        @include verLine;
    }

    .hor-line {
        @include horLine;
        left: -4px;
        width: 150%;
    }
}

.icon-cross-fill {
    @include iconVar;
    overflow: hidden;
    border: none;

    .left-line {
        @include leftLine;
    }

    .right-line {
        @include rightLine;
    }
}