.el-select .el-input.is-disabled .el-input__inner{
  background-color: #dedede;
  color: #A4A4A4;
}
.el-select{
  width: 160px;
  ;
}

.el-message{
  padding: 12px;
}

.el-message-box__content{
  background-color:#E7EBF2;
}
.el-message-box{
  padding: 0px 10px;
}
.el-message-box__headerbtn{
  top: 4px;
  right: 0px;
}

.el-message--success {
  background: #f0f9eb !important;
  .el-message__content {
    color: #67c23a !important;
  }
}
.el-message .el-icon-success {
  color: #67c23a !important;
}

.el-message--error{
  background-color: #FFE8E8!important;
  .el-icon-error{
    color: #F5282D!important;
  }
  .el-message__content{
    color: #424242!important;
  }

}

.el-dialog {
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
  .el-dialog__header{
    padding: 16px;
  }
  .el-dialog__body{
    padding: 0px 16px 16px;
  }
}
.el-select-dropdown__list{
  padding: 0px 0px;
}

.el-popper{
  margin-top: 0px;
}
.popper__arrow{
  display: none;
}